/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Poppins', sans-serif;
}

:root{
  --bg-dark:#16396E;
  --bg-light:#78A8F0;
  --container-light:#2F7BED;
  --container-dark:#374D6E;
  --border:#2561BA;
  --text-color:#F0F0F0;
  --title-color:#FFFFFF;
}

html, body {
  height: 100%;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  padding-top: 3.2rem;
}

textarea{
  resize: none;
}


/* BASE */

#base_navbar{
  background-color: var(--bg-dark);
}


main {
  flex: 1 0 auto;
  margin: 0 auto;
}




.logo{
  width: 50px;
}

.custom-navbar .nav-link, .custom-navbar .navbar-brand {
  color: var(--title-color); /* Cambia el color del texto a rojo */
}

.custom-navbar .navbar-toggler {
  border-color: var(--title-color); /* Cambia el color del borde del botón de navegación a rojo */
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Cambia el color de las líneas del botón de navegación a rojo */
}

/* Estilo para el enlace activo */
.navbar-nav .active-link a {
  color: #ff0000; /* Cambia este color al que desees */
  /* Otros estilos que desees aplicar */
}

/* ----------------------------------------- INDEX ------------------------------------------------------------------------- */

.title_events{
  color: var(--title-color);
  font-size: large;
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: 2.2rem;
  border-bottom: 1px dashed var(--title-color);
}


/* CAROUSEL */

.carousel-item img {
  height: 400px; /* Ajusta esto según tus necesidades */
  object-fit: cover;
}

.event_cards {
  border-radius: 1rem 1rem 0 0;
  color: var(--text-color);
}

.event_cards img {
  border-radius: 1rem 1rem 0 0; /* Redondea solo los bordes superiores de la imagen */
}

.event_accordion {
  background-color: var(--border); 
  color: var(--text-color);
}

.index_cards{
  background-color: var(--container-dark);
  border-radius: 1rem;
  color: var(--text-color);
}

.event_cards img {
  border-radius: 1rem;
}

/* ---------------------------------------------------EVENTS */

.form_container{
  background-color: var(--container-dark);
  color: var(--title-color);
}

.form_content{
  background-color: var(--container-light);
  color: var(--text-color);
}



/* -----------------------------------------------REGISTER */

.custom_form{
  background-color: var(--container-dark);
  border-radius: 20px;
  max-width: 50rem;
  margin: 0 auto;
  gap: 2rem;
  color: var(--text-color);
}


/* USER PROFILE */

.reservations{
  width: 350px;
  border-radius: 1rem;
}

.reservation_card{
  background-color: var(--container-dark);
  color: var(--title-color);
  text-align: center;
  border: 1.5px solid black;
  border-radius: 1rem;
}

.event-details img{
  border-radius: 1rem;
  width: 300px;
}



/* -------------------FOOTER */




footer {
  flex-shrink: 0;
  background-color: var(--bg-dark);
  color: var(--title-color);
}

/* Estilos Generales de los Iconos */
.social_icon {
  border-radius: 50%; /* Crea un círculo */
  background-color: var(--bg-dark); /* Fondo blanco */
  display: inline-flex; /* Usa flex para centrar el contenido */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  width: 40px; /* Ancho del círculo */
  height: 40px; /* Altura del círculo */
  padding: 5px; /* Espaciado interno */
  transition: all .5s ease-in-out;
}

/* Estilos de Iconos de Redes Sociales */
.whatsapp_icon i {
  color: #25D366; /* Color WhatsApp */
}

.github_icon i {
  color: #171515; /* Color GitHub */
}

.youtube_icon i {
  color: #FF0000; /* Color YouTube */
}

/* Efecto Hover */
.social_icon:hover {
  transform: scale(1.2); /* Aumenta el tamaño del círculo */
  filter: brightness(1.2) saturate(1.5); /* Hace el color más intenso y brillante */
}




@media (min-width:980px) {
  .carousel-item img {
    height: 800px; /* Ajusta esto según tus necesidades */
    object-fit: contain;
  }
}