/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Poppins', sans-serif;
}

:root{
  --bg-dark:#16396E;
  --bg-light:#78A8F0;
  --container-light:#2F7BED;
  --container-dark:#374D6E;
  --border:#2561BA;
  --text-color:#F0F0F0;
  --title-color:#FFFFFF;
}

html{
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bg-light);
  color: var(--text-color);
}

main {
  flex: 1;
  margin: 0 auto;
  overflow: auto;
  padding-top: 3.2rem;
}


textarea{
  resize: none;
}


/* -------------------------------------------------------------------------  BASE -------------------------------------------------------------------------  */

#base_navbar{
  background-color: var(--bg-dark);
}


.custom-navbar .nav-link, .custom-navbar .navbar-brand {
  color: var(--title-color); 
}

.custom-navbar .navbar-toggler {
  border-color: var(--title-color); 
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .active-link a {
  color: #ff0000; 

}

.logo{
  color: var(--text-color);
  font-weight: 700;
}

/* -------------------------------------------------------------------------  INDEX ------------------------------------------------------------------------- */

.title_events{
  color: var(--title-color);
  font-size: large;
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: 2.2rem;
  border-bottom: .0625rem dashed var(--title-color);
}


/* CAROUSEL */

.carousel-item img {
  height: 25rem; 
  object-fit: cover;
}

.event_cards {
  background-color: var(--container-dark);
  border-radius: 1rem 1rem 0 0;
  color: var(--text-color);
}

.event_cards img {
  border-radius: 1rem 1rem 0 0; 
}

.event_accordion {
  background-color: var(--border); 
  color: var(--text-color);
}

.index_cards{
  background-color: var(--container-dark);
  border-radius: 1rem;
  color: var(--text-color);
}

.event_cards img {
  border-radius: 1rem;
}

.event_cards .card-title, .event_cards .card-text {
  max-height: 6.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event_cards .accordion-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_titles{
  font-size: 1.2rem;
  color: red;
}

/* ------------------------------------------------------------------------- EVENTS -------------------------------------------------------------------------  */

.form_container{
  background-color: var(--container-dark);
  color: var(--title-color);
}

.form_content{
  background-color: var(--container-light);
  color: var(--text-color);
}

.accordion-body {
  overflow-y: auto;
  max-height: 42rem; 
}

.scrolling-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrolling-title:hover {
  overflow: visible;
  white-space: normal;
}

.event-description-scrollable {
  max-height: 10rem;
  overflow-y: auto; 
}



/* ------------------------------------------------------------------------- REGISTER -------------------------------------------------------------------------  */

.custom_form{
  background-color: var(--container-dark);
  border-radius: 1.25rem;
  max-width: 50rem;
  margin: 0 auto;
  gap: 2rem;
  color: var(--text-color);
}

.login_form{
  max-width: 25rem;
}


/* -------------------------------------------------------------------------  USER PROFILE ------------------------------------------------------------------------- */

.reservations{
  /* width: 350px; */
  border-radius: 1rem;
}

.reservation_card{
  max-width: 40rem;
  background-color: var(--container-dark);
  color: var(--title-color);
  text-align: center;
  border: .09rem solid black;
  border-radius: 1rem;
  margin: 0 auto;
}

.event-details img{
  border-radius: 1rem;
  width: 18.75rem;
}



/* ------------------------------------------------------------------------- FOOTER -------------------------------------------------------------------------  */




footer {
  margin-top: auto; /* Hace que el footer sea pegajoso */
  background-color: var(--bg-dark);
  color: var(--title-color);
}

.social_icon {
  border-radius: 50%;
  background-color: var(--bg-dark);
  display: inline-flex; 
  align-items: center; 
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: .3125rem;
  transition: all .5s ease-in-out;
}

.whatsapp_icon i {
  color: #25D366; 
}

.github_icon i {
  color: #171515; 
}

.youtube_icon i {
  color: #FF0000; 
}


.social_icon:hover {
  transform: scale(1.2); 
  filter: brightness(1.2) saturate(1.5); 
}



/* ------------------------------------------------------------------------- large Screens -------------------------------------------------------------------------  */
@media (min-width:980px) {
  .carousel-item img {
    height: 50rem;
    object-fit: contain;
  }
}