<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- SEO Metadata -->
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="Event management app">
  <meta name="keywords" content="events, concerts, sports, theather">
  <meta name="author" content="Pedro Olivares">
</head>

<body>
  <header class="container">
    <nav class="navbar navbar-expand-md custom-navbar fixed-top" id="base_navbar">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}"><span class="logo">EventSphere</span></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item {% if request.path == url_for('index') %}active-link{% endif %}">
              <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item {% if request.path == url_for('events') %}active-link{% endif %}">
              <a class="nav-link" href="{{ url_for('events') }}">Events</a>
            </li>
            {% if 'user_id' not in session %}
            <li class="nav-item {% if request.path == url_for('login') %}active-link{% endif %}">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item {% if request.path == url_for('register') %}active-link{% endif %}">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            {% else %}
            {% if session['is_business'] %}
            <li class="nav-item {% if request.path == url_for('business_profile') %}active-link{% endif %}">
              <a class="nav-link" href="{{ url_for('business_profile') }}">Business Profile</a>
            </li>
            {% else %}
            <li class="nav-item {% if request.path == url_for('user_profile') %}active-link{% endif %}">
              <a class="nav-link" href="{{ url_for('user_profile') }}">User Profile</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="container-fluid mt-4 ">
    <!-- Flash messages display -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages mt-3">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show text-center" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer mt-auto py-3 text-center">
    <div class="container">
      <div class="row">
        <!-- Slogan -->
        <div class="col-md-4">
          <h4 class="logo">EventSphere</h4>
          <p>Discover and Book your next event with us.</p>
        </div>

        <!-- Contact -->
        <div class="col-md-4">
          <h4>Contact</h4>
          <ul class="list-unstyled ">
            <li>Email: eventsphere@example.com</li>
            <li>Teléfono: +1 234 567 890</li>
          </ul>
        </div>

        <!-- SSNN -->
        <div class="col-md-4">
          <h4>Social Network</h4>
          <a href="https://www.whatsapp.com/tuUsuario" class="text-decoration-none social_icon me-2 whatsapp_icon">
            <i class="bi-whatsapp"></i>
          </a>
          <a href="https://github.com/Pedrolivares1980?tab=repositories"
            class="text-decoration-none social_icon me-2 github_icon">
            <i class="bi-github"></i>
          </a>
          <a href="https://www.youtube.com/tuCanal" class="text-decoration-none social_icon me-2 youtube_icon">
            <i class="bi-youtube"></i>
          </a>
        </div>

      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>