{% extends 'base.html' %}

{% block title %}Business Profile{% endblock %}

{% block content %}
<!-- Business Profile Section -->
<div class="business-profile">
  <h2 class="text-center text-capitalize">{{ business_name }}</h2>
  <h3 class="text-center">Here you can manage your Events and their Bookings</h3>
  <div class="row mt-4">
    {% for event in events %}
    <div class="mb-3 mt-4 col-12 col-md-6 col-lg-4">
      <div class="card mb-3 event_cards">
        <img src="{{ url_for('static', filename='images/' ~ event.event_image) }}" class="card-img-top"
          alt="{{ event.title }}">

        <div class="accordion" id="accordionEvent{{ event.id }}">
          <!-- Event section -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingEvent{{ event.id }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEvent{{ event.id }}" aria-expanded="false"
                aria-controls="collapseEvent{{ event.id }}">
                {{ event.title }}
              </button>
            </h2>
            <div id="collapseEvent{{ event.id }}" class="accordion-collapse collapse"
              aria-labelledby="headingEvent{{ event.id }}" data-bs-parent="#accordionEvent{{ event.id }}">
              <div class="accordion-body event_accordion">
                <p class="card-text">{{ event.description }}</p>
                <p class="card-text">
                  <strong class="card_titles">Date:</strong> {{ event.event_date.strftime('%d %b %Y') }}<br>
                  <strong class="card_titles">Start Time:</strong> {{ event.start_time.strftime('%H:%M') }}<br>
                  <strong class="card_titles">Duration:</strong> {{ event.duration }} minutes
                </p>
                <p class="card-text"><strong class="card_titles">Location:</strong> {{ event.location }}</p>
                <p class="card-text"><strong class="card_titles">Capacity:</strong> {{ event.capacity }}</p>
                <p class="card-text"><strong class="card_titles">Seats Available:</strong> {{ event.available_seats }}</p>
                <p class="card-text"><strong class="card_titles">Sold Out:</strong> {{ 'Yes' if event.sold_out else 'No' }}</p>
                <a href="{{ url_for('edit_event', event_id=event.id) }}" class="btn btn-success">Edit
                  Event</a>
              </div>
            </div>
          </div>

          <!-- Booking Section -->
          <div class="accordion-item ">
            <h2 class="accordion-header" id="headingReservation{{ event.id }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseReservation{{ event.id }}" aria-expanded="false"
                aria-controls="collapseReservation{{ event.id }}">
                Reservations
              </button>
            </h2>
            <div id="collapseReservation{{ event.id }}" class="accordion-collapse collapse"
              aria-labelledby="headingReservation{{ event.id }}" data-bs-parent="#accordionEvent{{ event.id }}">
              <div class="accordion-body event_accordion">
                <!-- Events booking -->
                {% for reservation in event.reservations %}
                <div class="reservation border-2">
                  <p><strong class="card_titles">Email:</strong> {{ reservation.user.email }}</p>
                  <p><strong class="card_titles">Seats Reserved: </strong>{{ reservation.seats }}</p>
                </div>
                {% else %}
                <p class="text-center">No reservations for this event yet.</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <p class="text-center">You have not created any events yet.</p>
    {% endfor %}
  </div>
  <!-- Pagination -->
  <div class="pagination_controls text-center mt-auto">
    <nav aria-label="Events pagination">
      <ul class="pagination justify-content-center">
        <!-- Previous Page Link -->
        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('business_profile', page=pagination.prev_num) }}" {% if not
            pagination.has_prev %}aria-disabled="true" {% endif %}>Previous</a>
        </li>
        <!-- Page Numbers -->
        {% for page_num in pagination.iter_pages() %}
        <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
          <a class="page-link" href="{{ url_for('business_profile', page=page_num) }}">{{ page_num }}</a>
        </li>
        {% endfor %}
        <!-- Next Page Link -->
        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('business_profile', page=pagination.next_num) }}" {% if not
            pagination.has_next %}aria-disabled="true" {% endif %}>Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="mb-3">
    <a href="{{ url_for('create_event') }}" class="btn btn-success w-auto">Create New Event</a>
  </div>
</div>
{% endblock %}