{% extends 'base.html' %}

{% block title %}Create Event{% endblock %}

{% block content %}
<div class="container  min-vh-100">
  <div class="col-md-6 ms-auto me-auto">
    <!-- Display Company Name -->
    <div class="text-center my-4">
      <h2>{{ company_name }}</h2>

    </div>

    <h3 class="text-center"> New Event</h3>
    <form method="post" class="card p-4 custom_form mb-4">
      <!-- Title Field -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" maxlength="100" required>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" name="location" maxlength="120" id="location" value="">
      </div>

      <!-- Description Field -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" maxlength="1000" required></textarea>
      </div>

      <!-- Start Date Field -->

      <div class="mb-3">
        <label for="event_date" class="form-label">Event Date</label>
        <input type="date" class="form-control" id="event_date" name="event_date" required>
      </div>

      <!-- Start Time Field -->
      <div class="mb-3">
        <label for="start_time" class="form-label">Start Time</label>
        <input type="time" class="form-control" id="start_time" name="start_time" required>
      </div>

      <!-- Duration Field -->
      <div class="mb-3">
        <label for="duration" class="form-label">Duration (in minutes)</label>
        <input type="number" class="form-control" id="duration" name="duration" required>
      </div>

      <!-- Capacity Field -->
      <div class="mb-3">
        <label for="capacity" class="form-label">Capacity</label>
        <input type="number" class="form-control" id="capacity" name="capacity" required>
      </div>

      <!-- Event Type Dropdown -->
      <div class="mb-3">
        <label for="event_type" class="form-label">Event Type</label>
        <select class="form-select" id="event_type" name="event_type">
          <option value="Concert">Concert</option>
          <option value="Sport">Sport</option>
          <option value="Theatre">Theatre</option>
          <option value="Cinema">Cinema</option>
          <option value="Exhibition">Exhibition</option>
          <option value="Festival">Festival</option>
          <option value="Workshop">Workshop</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary w-auto ms-auto me-auto mb-2">Create Event</button>
    </form>
  </div>
</div>
{% endblock %}