{% extends 'base.html' %}

{% block title %}EventSphere Events{% endblock %}

{% block content %}
<div class="d-flex flex-column min-vh-100">
  <div class="container-fluid flex-grow-1">
    <h2 class="text-center">Events</h2>
    <div class="row">
      <!-- Filter and Search Form (visible on mobiles) -->
      <div class="container d-block d-lg-none">
        <form action="{{ url_for('events') }}" method="get" class="card p-4 form_container">
          <h3 class="text-center">Filter </h3>
          <div class="row">
            <!-- Event Type Filter -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
              <label for="event_type" class="form-label">Type:</label>
              <select name="event_type" id="event_type" class="form-select form_content">
                <option value="">All Types</option>
                {% for type in event_types %}
                <option value="{{ type }}" {% if type==event_type %} selected {% endif %}>{{ type }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- Date Range Filter -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
              <label for="start_date" class="form-label">Start Date:</label>
              <input type="date" name="start_date" id="start_date" value="{{ start_date }}"
                class="form-control form_content">
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
              <label for="end_date" class="form-label">End Date:</label>
              <input type="date" name="end_date" id="end_date" value="{{ end_date }}" class="form-control form_content">
            </div>
            <!-- General Search -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
              <label for="search" class="form-label">Search:</label>
              <input type="text" name="search" id="search" value="{{ search }}" placeholder="Type to search"
                class="form-control form_content">
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <button type="submit" class="btn btn-primary ms-auto me-1">Filter</button>
              <a href="{{ url_for('events') }}" class="btn btn-success ms-0 me-auto">Clear Filters</a>
            </div>
          </div>
        </form>
      </div>
      <!-- Filter and Search Form (visible on laptops) -->
      <div class="col-lg-2 d-none d-lg-block">
        <form action="{{ url_for('events') }}" method="get" class="card p-4 form_container">
          <h3 class="text-center">Filter the events</h3>
          <div class="row">
            <!-- Event Type Filter -->
            <div class="col-12 mb-3">
              <label for="event_type" class="form-label">Type:</label>
              <select name="event_type" id="event_type" class="form-select form_content">
                <option value="">All Types</option>
                {% for type in event_types %}
                <option value="{{ type }}" {% if type==event_type %} selected {% endif %}>{{ type }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- Date Range Filter -->
            <div class="col-12 mb-3">
              <label for="start_date" class="form-label">Start Date:</label>
              <input type="date" name="start_date" id="start_date" value="{{ start_date }}"
                class="form-control form_content">
            </div>
            <div class="col-12 mb-3">
              <label for="end_date" class="form-label">End Date:</label>
              <input type="date" name="end_date" id="end_date" value="{{ end_date }}" class="form-control form_content">
            </div>
            <!-- General Search -->
            <div class="col-12 mb-3">
              <label for="search" class="form-label">Search:</label>
              <input type="text" name="search" id="search" value="{{ search }}" placeholder="Type to search"
                class="form-control form_content">
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <button type="submit" class="btn btn-danger ms-auto me-2 me-md-1">Filter</button>
              <a href="{{ url_for('events') }}" class="btn btn-success ms-2 ms-md-0 me-auto">Clear Filters</a>
            </div>
          </div>
        </form>
      </div>
      <!-- Display Events -->
      <div class="col-lg-9">
        <div class="row mt-4">
          {% for event in events %}
          <div class="col-10 col-md-3 mb-3 ms-auto me-auto">
            <div class="card event_cards text-center">
              <img src="{{ url_for('static', filename='images/' ~ event.event_image) }}" class="card-img-top"
                alt="{{ event.title }}">
              <!-- Accordion -->
              <div class="accordion " id="accordionEvent{{ event.id }}">
                <div class="accordion-item ">
                  <h2 class="accordion-header" id="headingEvent{{ event.id }}">
                    <button class="accordion-button collapsed scrolling-title " type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseEvent{{ event.id }}" aria-expanded="false"
                      aria-controls="collapseEvent{{ event.id }}">
                      {{ event.title }}
                    </button>
                  </h2>
                  <div id="collapseEvent{{ event.id }}" class="accordion-collapse collapse"
                    aria-labelledby="headingEvent{{ event.id }}" data-bs-parent="#accordionEvent{{ event.id }}">
                    <div class="event_accordion">
                      <!-- Nested Accordion for Description -->
                      <div class="accordion mb-2" id="accordionDescription{{ event.id }}">
                        <div class="accordion-item ">
                          <h2 class="accordion-header" id="headingDescription{{ event.id }}">
                            <button class="accordion-button collapsed custom-accordion-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#collapseDescription{{ event.id }}"
                              aria-expanded="false" aria-controls="collapseDescription{{ event.id }}">
                              <strong class="card_titles">Description</strong>
                            </button>
                          </h2>
                          <div id="collapseDescription{{ event.id }}" class="accordion-collapse collapse"
                            aria-labelledby="headingDescription{{ event.id }}"
                            data-bs-parent="#accordionDescription{{ event.id }}">
                            <div class="accordion-body description_accordion">
                              {{ event.description }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="card-text"><strong class="card_titles">Type:</strong> {{ event.event_type }}</p>
                      <p class="card-text"><strong class="card_titles">Location:</strong> {{ event.location }}</p>
                      <p class="card-text"><strong class="card_titles">Organizer:</strong> {{
                        event.organizer.company_name }}</p>
                      <p class="card-text"><strong class="card_titles">Date:</strong> {{ event.event_date.strftime('%d
                        %b %Y') }}</p>
                      <p class="card-text"><strong class="card_titles">Start Time:</strong> {{
                        event.start_time.strftime('%H:%M') }}</p>
                      <p class="card-text"><strong class="card_titles">Duration:</strong> {{ event.duration }} minutes
                      </p>
                      <p class="card-text"><strong class="card_titles">Available Seats:</strong> {{
                        event.available_seats }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Booking btn -->
              <div class="card-footer ms-auto me-auto">
                {% if event.available_seats > 0 %}
                <a href="{{ url_for('reserve', event_id=event.id) }}" class="btn btn-success">Book now</a>
                {% else %}
                <p class="text-danger">SOLD OUT</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% else %}
          <h3 class="text-center mt-5">No events found.</h3>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Pagination Controls -->
<div class="pagination_controls text-center mt-4 mb-2">
  <nav aria-label="Events pagination">
    <ul class="pagination justify-content-center">
      <!-- Previous Page Link -->
      <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('events', page=pagination.prev_num) }}" {% if not pagination.has_prev
          %}aria-disabled="true" {% endif %}>Previous</a>
      </li>
      <!-- Page Numbers -->
      {% for page_num in pagination.iter_pages() %}
      <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
        <a class="page-link" href="{{ url_for('events', page=page_num) }}">{{ page_num }}</a>
      </li>
      {% endfor %}
      <!-- Next Page Link -->
      <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
        <a class="page-link" href="{{ url_for('events', page=pagination.next_num) }}" {% if not pagination.has_next
          %}aria-disabled="true" {% endif %}>Next</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}