{% extends 'base.html' %}

{% block title %}EventSphere Book{% endblock %}

{% block content %}
<div class="container card p-4 custom_form mb-4  min-vh-100">
  <!-- Event Details -->
  <h2 class="text-center fw-bolder fs-2">{{ event.title }}</h2>

  <!-- Event Image -->
  <div class="text-center mb-3">
    <img src="{{ url_for('static', filename='images/' ~ event.event_image) }}" alt="{{ event.event_type }}" class="img-fluid">
  </div>

  <!-- Event Details -->
  <div class="mb-3 text-center">
    <p><strong class="card_titles">Organized by:</strong> {{ event.organizer.username }}</p>
    <p><strong class="card_titles">Event Type:</strong> {{ event.event_type }}</p>
    <p><strong class="card_titles">Location:</strong> {{ event.location }}</p>
    <p><strong class="card_titles">Event Date:</strong> {{ event.start_time.strftime('%d %b %Y') }}</p>
    <p><strong class="card_titles">Start Time:</strong> {{ event.start_time.strftime('%H:%M') }}</p>
    <p><strong class="card_titles">Duration:</strong> {{ event.duration }} minutes</p>
    <p><strong class="card_titles">Available Seats:</strong> {{ available_seats }}</p>
  </div>

  <!-- Reservation Form -->
  <form method="post" action="{{ url_for('reserve', event_id=event.id) }}">
    <div class="mb-3 text-center">
      <label for="seats" class="form-label card_titles">Number of Seats</label>
      <input type="number" class="form-control text-center fw-bolder fs-2" id="seats" name="seats" min="1"
        max="{{ event.available_seats }}" required>
    </div>
    <div class="buttons col-4 my-2 ms-auto me-auto text-center">
      <button type="submit" class="btn btn-success ">Reserve</button>
      <!-- Cancel Button -->
      <a href="{{ url_for('events') }}" class="btn btn-danger mt-3 mt-md-0 ms-md-2">Cancel</a>
    </div>

  </form>
</div>
{% endblock %}