{% extends 'base.html' %}

{% block title %}EventSphere User Profile{% endblock %}

{% block content %}
<!-- User Profile Section -->
<div class="container-fluid d-flex flex-column min-vh-100">
  <h2 class="text-center text-danger mt-3">Welcome {{ user.username }}!</h2>
  <h3 class="text-center mb-4">Here you can manage your Bookings</h3>
  <div class="flex-grow-1 d-flex flex-column col-12 col-md-6 col-lg-3">
    <div class="reservations">
      {% for reservation in reservations %}
      <div class="card reservation_card mb-3 mt-4 col-12 col-md-6 col-lg-4">
        <div class="card-body">
          <h5 class="card-title fw-bolder fs-2">{{ reservation.event.title }}</h5>
          <p class="card-text"><strong class="card_titles">Event Type:</strong> {{ reservation.event.event_type }}</p>
          <p class="card-text"><strong class="card_titles">Location:</strong> {{ reservation.event.location }}</p>
          <p class="card-text"><strong class="card_titles">Event Date:</strong> {{
            reservation.event.event_date.strftime('%d %b %Y') }}</p>
          <p class="card-text"><strong class="card_titles">Start Time:</strong> {{
            reservation.event.start_time.strftime('%H:%M') }}</p>
          <p class="card-text"><strong class="card_titles">Duration:</strong> {{ reservation.event.duration }} minutes
          </p>
          <p class="card-text"><strong class="card_titles">Organizer:</strong> {{
            reservation.event.organizer.company_name }}</p>
          <p class="card-text"><strong class="card_titles">Description:</strong> {{ reservation.event.description }}</p>
          <p class="card-text p-2"><strong class="card_titles">Seats Reserved:</strong> {{ reservation.seats }}</p>
          <a href="{{ url_for('edit_reservation', reservation_id=reservation.id) }}" class="btn btn-success">Edit
            Reservation</a>
        </div>
      </div>
      {% else %}
      <p class="text-center">No reservations made yet.</p>
      {% endfor %}
    </div>
    <!-- Paginación -->
    <div class="pagination_controls text-center mt-auto">
      <nav aria-label="Events pagination">
        <ul class="pagination justify-content-center">
          <!-- Previous Page Link -->
          <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('user_profile', page=pagination.prev_num) }}" {% if not
              pagination.has_prev %}aria-disabled="true" {% endif %}>Previous</a>
          </li>
          <!-- Page Numbers -->
          {% for page_num in pagination.iter_pages() %}
          <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('user_profile', page=page_num) }}">{{ page_num }}</a>
          </li>
          {% endfor %}
          <!-- Next Page Link -->
          <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('user_profile', page=pagination.next_num) }}" {% if not
              pagination.has_next %}aria-disabled="true" {% endif %}>Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}